* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: arial;
  }
html,
body {
    width: 100%;
    overflow-x: hidden;
  }
#site{
    width:1000px;
    height:1000px;
    margin-top:0;
    margin-left:auto;
    margin-bottom:0;
    margin-right:auto;
    background-color: rgb(243, 236, 236);
  }
header{
    width: 1000px;
    height: 200px;
    background-color: lightblue;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.olamundo h2 {
    color: grey;
    font-size: 60px;
    position: relative;
    align-content: center;
    text-align: center;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;

}
#conteudo-left{

    width: 300px;
    background-color: whitesmoke;
    float:left;

}
#conteudo-right{

    width: 700px;
    height: 870px;
    background-color: whitesmoke;
    border-style: groove;
    float:right;
}
.catalogo h2{
    text-align: center;
}
.catalogo h3{
    text-align: left;
    padding-left: 10px;
}
.catalogo p{
    text-align: left;
    padding-left: 10px;
}
.catalogo textarea{
    padding-top: 20px;
    text-align: left;
}
.tabela li a{
    padding: 12px;
    text-decoration: none;
    color: #000;
    display: block;
}
.tabela h2{
    padding-left: 80px;
}
#menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#menu li a:hover{
    background-color: lightblue;
}
#pesquisa{
    width: 100%;
    padding: 11px;
    font-size: 18px;
    border: 1px solid #ddd;

}
footer{
    width: 1000px;
    height: 6500px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 236, 236);
}
footer h3{
text-align: center;
}
footer p{
    text-align: left;
    padding: 10px;

}
footer h4{
    text-align: left;
    padding: 10px;
}
footer ul li{
    list-style:none;
    text-align: left;
    padding-left: 20px;
    padding: 10px;
}
footer img{
    position: auto;
    width: 100%;
    height: 100%;
}
.last{

    width: 1000px;
    height: 20px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}
