header{

    width: 100%;
    height: 250px;
    background-color: darkgrey;
}
body{
    font-style: arial;
    width: 100%;
}   
*{
    box-sizing: border-box;
}
.olamundo h2 {

    color: grey;
    font-size: 60px;
    position: relative;
    align-content: center;
    text-align: center;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;

}
section .menu{
    background-color:lightgrey;
}
.tabela{
    width: 300px;
    padding: 15px, 0px;
    background-color: whitesmoke;
}
.tabela li a{
    padding: 12px;
    text-decoration: none;
    color: #000;
    display: block;
}
.tabela h2{
    
    padding-left: 80px;
}
#menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#menu li a:hover{
    background-color: lightblue;
}
.footer{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: darkgrey;
    padding-top: 0px;
}
.footer p {
    font-size: 15px;
}